body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#map-container {
    width: 60%;
    height: 800px;
    margin-right: 20px;
}

#locations-table {
    width: 35%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffffff;
}
